<p>
  Getting all cats:
  <div ng-repeat="cat in cat_collection">
    <li><a href='/#/cats/{{cat.id}}'>{{cat.name}}</a></li>
    <li>{{cat.profile}}</li>
    <li>{{cat.age}}</li>
    <li>{{cat.active}}</li>
    <hr>
  </div>
</p>

<p>New Cat:</p>
<form ng-model='cat' ng-submit='newCat()'>
  <input type="text" ng-model='cat.name' placeholder="Cat Name">
  <input type="text" ng-model='cat.profile' placeholder="Cat Profile">
  <input type="text" ng-model='cat.age' placeholder="Cat Age">
  <input type="Submit" value='Submit new cat'>
</form>
